.admin--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.admin--body{
    display: flex;
    height: 90vh;
}
.admin--sidebar{
    width: 20%;
    height: 100%;
    background: var(--yellow);
    display: flex;
    justify-content: center;
}
.admin--sidebar__content{
    list-style-type: none;
    width: 100%;
    padding: 4rem 0rem;
}
.admin--sidebar__items{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #000000;
    padding: 1.5rem 0rem;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
.ma-4{
    margin-top: 7rem;
}
.admin--sidebar__items:hover{
    cursor: pointer;
    background: #D3D3D3;
}
.admin--active{
    background: #D3D3D3;
}
.admin--main{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(180deg, #3F3F3F 25.52%, #858585 100%), #000000;
    mix-blend-mode: multiply;

}



@media only screen and (max-width: 820px){
    .admin--sidebar{
        display: none;
    }
    .admin--main{
        width: 100%;
    }
}