.homepage{
    

}
.homepage--wrapper{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100vw;
	height: 65.7rem;
	background: var(--bg-gradient);
	/* mix-blend-mode: multiply; */
    opacity: var(--bg-opacity);
    padding: 4rem 0rem;
    margin: 0;
}
.homepage--nav{
    margin: 0rem 0rem;
}
.homepage--head__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0rem 8.5rem;
    
}
.homepage--head__content>h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5rem;
    color: #FFFFFF;
}
.homepage--head__content>p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    line-height: 2rem;;
    color: #FFFFFF;
    
}
.firstP{
    margin-top: 2rem;
    padding-bottom: .2rem;
}
.lastP{
    margin-bottom: 2rem;
}
.homepage--head__footer {
	display: flex;
	justify-content: space-between;
	padding: 0px 8rem;
}
.footer--icons {
	display: flex;
	flex-direction: column;
	color: white;
}
.footer--icons > i {
	font-size: 21px;
	font-weight: 400;
}
.homepage--middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./../../img/homebody.png');
    mix-blend-mode: multiply;
    width: 100vw;
    height: 50rem;
    margin: 0;
}
.homepage--middle__content>h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 6rem;
    color: #FFFFFF;
}
.homepage--middle__content>p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;

color: #FFFFFF;
}
.middle--firstP{
    padding-top: 1rem;
}
.middle--lastP{
    padding-bottom: 1rem;
}
.home--highlight{
    color: var(--yellow);
}
.home--middle__button{
    background: transparent;
    margin: 0rem 3.5rem;
}
.homepage--end{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40rem;
}
.homepage--end__content{
    width: 40%;
    padding: 4rem 2rem;
}
.homepage--end__content>h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 6rem;
    color: var(--yellow);
}
.homepage--end__content>p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #3F3F3F;
}
.homepage--end>img{
    padding: 1rem 4rem;
}
.home--footer{
    width: 100vw;
    height: 4rem;
    background: #3F3F3F;
}

@media only screen and (max-width: 1115px){
    .homepage--head__content{
        align-items: center;
    }
    .homepage--end{
        flex-direction: column-reverse;
        justify-content: center;
        height: 40rem;
    }
    .homepage--end__content{
        width: 100%;
        text-align: center;
    }
    .homepage--end>img{
        width: 40rem;
        height: 22.9rem
    }
}
@media only screen and (max-width: 600px){
    .ticker__img{
        height: 65.7rem;
    }
    
    .homepage--head__content{
        margin: 0 auto;
    }
    
    .homepage--head__content>h1{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 3.1rem;
        line-height: 2.7rem;
        letter-spacing: 1.4px;
        word-spacing: 1px;
        color: #FFFFFF;
        text-align: center;
    }
    .homepage--head__content>p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.3rem;;
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 1px;
        
    }
    .firstP{
        margin-top: 1.2rem;
        padding-bottom: .4rem;
    }
    .lastP{
        margin-bottom: 1.2rem;
    }
    .homepage--head__footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 2rem;
    }
    .homepage--end>img{
        width: 30rem;
        height: 17.5rem
    }
    .homepage--middle__content>h1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 4rem;
        color: #FFFFFF;
        text-align: center;
    }
    .homepage--middle__content>p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
        color: #FFFFFF;
    }
    .homepage--end__content>h1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 5rem;
        color: var(--yellow);
    }
    .homepage--end__content>p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: #3F3F3F;
    }
    .homepage--end__content{
       
        padding: 0rem 2rem;
    }

}