.generic--slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem 0rem;
	z-index: 100;
	mix-blend-mode: multiply;
}
.slider {
	width: 100%;
	margin: 5rem auto;
	/* margin: 5rem auto 4rem; */
	padding: 0 auto;
}

.floppy {
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: -1;

}

.generic--slider {
	z-index: -1;
	
}
.slider{

}


.generic--slider > h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 4rem;
	line-height: 4.7rem;
	text-align: start;
	color: var(--yellow);
	z-index: 0;
}
@media only screen and (max-width: 835px) {
	.generic--slider > h1 {
		text-align: center;
	}
}
