.login {
	display: flex;
	justify-content: space-around;
	font: #ffffff;
	min-height: 100vh;
	width: 100%;
	background: url('../../img/Background.png') no-repeat;
	background-size:cover;
}

.login > img {
	display: flex;
}

.login_aside {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 40%;
	font-family: Roboto;
	height: 80vh;
}
.login_aside > img {
	margin-top: 4.2rem;
	width: 13.6rem;
	height: 3.6rem;
}
.login_aside_body {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 6rem;
}

.login_aside_body > h2 {
	display: flex;
	padding: 0rem;
	margin: 0rem;
	width: 41.3rem;
	color: #ffffff;
	font-weight: 900;
	font-size: 5rem;
	font-family: Roboto;
	font-style: normal;
	line-height: 5.9rem;
}

.login_aside_body > p {
	display: flex;
	margin: 2rem 0rem;
	padding: 0rem;
	width: 34.9rem;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #ffffff;
}

.signButton {
	/* SIGN UP */
	display: flex;
	justify-content: center;
	width: 4.7rem;
	height: 1.4rem;
	left: 16.9rem;
	top: 49.1rem;

	font-weight: bold;
	font-size: 1.2rem;
	color: #ffffff;

	/* Rectangle 7 */

	display: flex;
	width: 18.8rem;
	height: 4rem;
	left: 9.9rem;
	top: 47.8rem;

	/* Ripple */
	border: 0.2rem solid #f9b109;
	box-sizing: border-box;
	border-radius: 1rem;
	background: transparent;
}

.login_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 44.2rem;
	height: 76vh;
	background: #ffffff;
	border-radius: 1.0rem;
	color: black;
	margin: 7rem 0rem;
}

.google {
	width: 60%;
	height: 40px;
	background: #ffffff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border: none;
}

.google > img {
	margin-right: 1rem;
}

.middleman {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4.2rem 0 3rem 0;
	font-size: 1.2rem;
	width: 70%;
}

.middleman > hr {
	width: 11.5rem;
	height: 0.01rem;
	border: 0.05rem solid #858585;
	background: #858585;
}

.form_input {
	width: 70%;
	margin-bottom: 3.2rem;
}

.form_input > input {
	border: 0rem;
	outline: 0;
	border-bottom: 0.1rem solid #858585;
	width: 31.21rem;
	height: 3.8rem;
}
.form_input > input[type='text'] {
	margin-bottom: 1.7rem;
}
.form_input > input::placeholder {
	color: #3f3f3f;
	line-height: 1.6rem;
	font-size: 1.4rem;
	opacity: 0.4;
}

.logButton {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18.8rem;
	padding: 1rem 2rem;
	height: 4rem;
	background: #f9b109;
	border-radius: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-left: 7rem;
	margin-top: 5rem;
}
.forgotPassLink{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #3F3F3F;
	transition: all 0.3s ease-in-out;
}
.forgotPassLink:hover{
	transform: scale(1.02);
	text-decoration: underline;
}
/* MEDIA QUERIES */
 @media only screen and (max-width: 900px)  {
	.login {
		flex-direction: column;
		align-items: center;
	}

	.login_aside {
		height: 50vh;
		display: flex;
		align-items: center;
	}

	.login_aside > img {
		display:flex;
		margin-top: 4.2rem;
		width: 13.6rem;
		height: 3.6rem;
		margin-right: 10px;
		/* align-self: flex-start; */
	}

	.login_aside_body {
		width: 100%;
		margin-top: 5rem;
		width: 100%;
		
	}

	.login_aside_body > h2 {
		font-size: 3rem;
		line-height: 2.9rem;
	}

	.login_aside_body > p {
		font-size: 2rem;
		padding: 1.5rem 0rem;
	}
	.signButton {
		align-self: center;
	}

	
}

 @media only screen and (max-width: 500px) {

	.login_aside_body > h2 {
		font-size: 2.0rem;
		text-align: center;
		width: 100%;
	}

	.login_aside_body > p {
	
		font-size: 1.55rem;
		text-align: center;
		width: 100%;
		margin: 0.2rem;
		
	}

	.login_form {
		width: 40rem;
		
	}
} 

 @media only screen and (max-width: 400px){
	.login_aside_body > h2 {
		font-size: 2.2rem;
		text-align: center;
		width: 100%;
	}

	.login_aside_body > p {
	
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
		margin: 0.2rem;
		
	}

	.login_form {
		width: 30rem;
		
	}

	.form_input > input {
		border: 0rem;
		outline: 0;
		border-bottom: 0.1rem solid #858585;
		width: 22.21rem;
		height: 3.8rem;
	}

	.logButton {
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18.8rem;
		padding: 1rem 2rem;
		height: 4rem;
		background: #f9b109;
		border-radius: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		margin-left: 2.5rem;
		margin-top: 5rem;
	}


} 

