/* .movies__page{
    position:relative
} */

.movies__header{
position: relative;
width: 145.2rem;
height: 33.2rem;
background:  url('./../../img/moviesposter.png');
}
.movie__navbar{
    padding-top: 2.0rem;
}
.header__text>h1{
position: absolute;
width: 41.4rem;
height: 5.9rem;
left: 10.0rem;
top: 14.2rem;
font-style: normal;
font-weight: 900;
font-size: 5.0rem;
line-height: 5.9rem;
color: #FFFFFF;
}

.header__text>h3{
position: absolute;
width: 35.8rem;
height: 4.2rem;
left: 9.9rem;
top: 21.0rem;
font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 2.1rem;
color: #FFFFFF;
}

.movies__filter{
    display:flex;
    width: 80%;
    justify-content: space-around;
    
}
.category{
    margin-top: 7.5rem;
    margin-right: 9.9rem;   
}

.sub-category{
display:flex;
justify-content: space-between;
border-bottom: 0.5px solid #3F3F3F;
width: 17.4rem;
}
.category>h1{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #F9B109;

}
 .movies__slider{
    margin-top: 7.5rem;
    margin-right: 9.9rem;  
 }

 .movies__border{
    margin: 0 auto;
    width:75%;
    border-top: .01rem solid #858585;
    padding-top: 9rem;
 }