.moviespage--header{
    width: 100%;
    height: 33.2rem;
    background: linear-gradient(180deg, rgba(26, 25, 25, 0.774) 25.52%, #1b1a1aee 100%), url(./../../img/movieposter.png) no-repeat;
    background-size:cover; 
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.moviespage--nav{
    width: 100vw;
    margin: 0 auto;
}
.moviespage--head__content{
    width: 82%;
    margin: 0 auto;
    padding: 0 auto 4rem;
}
.moviespage--middle{
    width: 82%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto 9rem;
    position: relative;
}
.moviespage--middle__titles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5.5rem;
}
.moviespage--middle__titles>h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
    color: var(--yellow);
}
.moviespage--middle__titles>select{
    background: transparent;
    width: 17rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 0.5rem 0rem;
    color: #858585;
    border: none;
    border-bottom: 1px solid #858585; 
}

.movies--border{
    margin: 0 auto;
    width:80%;
    border-top: .01rem solid #858585;
    padding-top: 9rem;
}
@media only screen and (max-width: 600px){
    .moviespage--middle{
        display: none;
    }
   
}
@media only screen and (max-width: 600px){
    .moviespage--head__content>h1{
        line-height: 3rem;
        letter-spacing: 1.4px;
        word-spacing: 1px;
    }
     .moviespage--head__content>p{
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 1px;
    }
}