.generic--navbar {
	display: flex;
}
.generic--navbar > img {
	align-self: center;
	width: 13.6rem;
	height: 3.6rem;
	margin: 0rem 9.6rem;
}
.nav--items {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}
.nav--item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.6rem;
	margin-right: 3rem;
	color: white;
	letter-spacing: 1px;
}
.fa-search {
	align-self: center;
	font-size: 2rem;
	color: white;
	margin-right: 4rem;
}
.fa-user-circle {
	align-self: center;
	color: var(--yellow);
	font-size: 4rem;
	margin-right: 10rem;
}

/*------------------------------------------------------- GENERIC-NAVBAR__SM-STYLES------------------------------------------------ */
.generic--navbar__sm {
	display: none;
}
.fa-bars {
	font-size: 2rem;
	color: white;
	/* padding: 1.5rem; */
	margin-left: 3rem;
}
.fa-bars:hover {
	cursor: pointer;
}
.generic--navbar__sm > img {
	width: 13.6rem;
	height: 3.6rem;
	margin: 0px auto;
}
.nav--items__sm {
	display: none;
}

@media only screen and (max-width: 820px) {
	.generic--navbar {
		display: none;
	}
	.generic--navbar__sm {
		display: flex;
	}
	.fa-user-circle {
		margin-right: 3rem;
		font-size: 2rem;
	}
	.nav--items__sm {
		display: block;
		top: 150px;
		left: 80px;
		color: white;
		width: 100px;
	}
	.generic--navbar__sm > img {
		width: 8.6rem;
		height: 2.3rem;
		margin: 0px auto;
	}
}
@media only screen and (min-width: 821px) {
	.navbar--dropdown {
		display: none;
	}
}
