.navpop--container{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
   z-index: 20;

}
.navpop{
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-top: 50px;
    width: 50%;
    height: 100vh;
    color: var(--yellow);
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    background:#000;
    z-index: 20;
   /* position: fixed; */
   
}
  
.navpop--item{
    padding: 5px;
    
}
.navpop--item:hover{
    font-size: 1.4rem;
}