.reset__body{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #1a1919 15.43%, rgba(55, 55, 55, 0) 100%),
		#3f3f3f;
	mix-blend-mode: multiply;
	background-size: cover;
}

.reset__navbar{
position: absolute;
left: 5%;
right: 9%;
top: 5%;
bottom: 0%;
}

.reset__card{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 66.6rem;
height: 49.1rem;
background: #FFFFFF;
box-shadow: .0rem .4rem 1.0rem rgba(0, 0, 0, 0.9);
border-radius: 1.0rem;
}

.reset__card>img{
position: absolute;
left: 46.01%;
right: 46.01%;
top: 24.57%;
bottom: 60%;
}

.reset__card>h1{
position: absolute;
width: 12.9rem;
height: 2.8rem;
top: 30.8rem;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.8rem;
line-height: 2.8rem;
text-align: center;
letter-spacing: -0.165px;
}

.reset__card>p{
position: absolute;
width: 26.3rem;
height: 2.8rem;
top: 34.3rem;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.4rem;
line-height: 2.8rem;
text-align: center;
letter-spacing: -0.165px;
}


.reset__form__input{
    margin-top: 12.0rem;
}

.reset__form__input>input{
width: 30rem;
padding: 1.0rem .0rem;
border: none;
border-bottom: .1rem solid #C4C4C4;
}

.reset__button{
    position: absolute;
    width: 22.3rem;
    margin: 0 7.0rem;
    height: 4.4rem;
    top: 46.9rem;
    border-radius: 1.0rem;
    }