.reset__body {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #1a1919 15.43%, rgba(55, 55, 55, 0) 100%),
		#3f3f3f;
	mix-blend-mode: multiply;
	background-size: cover;
}

.reset__navbar {
	width: 100%;
	padding: 2.5rem;
}

.reset__card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 66.6rem;
	padding: 1rem 15%;
	height: 49.1rem;
	background: #ffffff;
	box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.9);
	border-radius: 1rem;
}

.reset__card > img {
	margin-bottom: 2.5rem;
}

.reset__card > h1 {
	width: 12.9rem;
	height: 2.8rem;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 2.8rem;
	text-align: center;
	letter-spacing: -0.165px;
}

.reset__card > p {
	width: 26.3rem;
	height: 2.8rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2.8rem;
	text-align: center;
	letter-spacing: -0.165px;
}

.reset__form__input {
	margin-bottom: 3.2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.reset__form__input > input {
	width: 25rem;
	padding: 2rem 0rem;
	border: none;
	border-bottom: 0.1rem solid #c4c4c4;
	outline: none;
	box-shadow: none;
}

.reset__body button {
	margin: 0 auto;
}

@media only screen and (max-width: 492px) {
	.reset__card {
		padding: 1rem 0rem;
		margin: 10px;
	}
}
@media only screen and (max-width: 323px) {
	.reset__card {
		width: 290px;
	}
	.reset__form__input > input {
		width: 20rem;
	}
	.reset__button {
		margin: 0 6rem;
	}
}
