.signup {
	width: 100%;
	min-height: 100vh;
	background: url('../../img/Background.png') no-repeat;
	background-size: cover;
}

.signup--header {
	padding: 42px 0px 0px 0px;
	height: 70px;
}

.signup--body {
	display: flex;
	justify-content: space-between;
}

.signup--body .signup--content {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signup--content > h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 60px;
	color: #ffffff;
}

.signup--content > p {
	font-family: Roboto;
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	margin: 28px 0px;
}
.signup--content > button {
	width: 188px;
	height: 40px;
	border: 2px solid #f9b109;
	border-radius: 10px;
	background: transparent;
	color: #fff;
	font-style: normal;
	font-weight: bold;
}

.signup--form {
	width: 442px;
	display: flex;
	padding: 35px 0px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
}

.signup--google {
	width: 70%;
	height: 40px;
	background: #ffffff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.signup--google > p {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	margin-left: 12px;
	color: #3f3f3f;
}

.signup-divider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 42px 0 30px 0;
	font-size: 12px;
	width: 80%;
}
.signup-divider hr {
	width: 40%;
	height: 1px;
	border-bottom: 1px solid #858585;
}

.signup .form-input {
	width: 70%;
	margin-bottom: 32px;
}

.signup .form-input > input {
	border: 0px;
	outline: 0;
	border-bottom: 1px solid #858585;
	width: 100%;
	height: 38px;
}

.signup .form-input > input::placeholder {
	color: #3f3f3f;
	line-height: 16px;
	font-size: 14px;
	opacity: 0.4;
}

.signup--agreement {
	font-size: 12px;
	display: flex;

	align-items: center;
	line-height: 14px;
	margin-bottom: 28px;
}

.signup--agreement a {
	color: #3f3f3f;
	margin-right: 2px;
}

.signup--button {
	border: none;
	width: 188px;
	padding: 10px 20px;
	height: 40px;
	background: #f9b109;
	border-radius: 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

/* -------------------------------------------------------ALL-MEDIA-QUERIES--------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	.signup--body {
		flex-direction: column;
		align-items: center;
	}

	.signup--content {
		padding: 50px 0px;
		width: 100%;
		align-items: flex-start;
	}

	.signup--content > h1 {
		font-size: 35px;
		margin: 0px 0px;
	}

	.signup--content > p {
		font-size: 16px;
		margin: 15px 0px;
	}

	.signup--form {
		margin: 20px 0;
	}
}
