#padlockImg{
    margin-top: 120px;
}
.password--form{
    display: flex;
    flex-direction: column;
    padding: 70px 0px 40px;
}
.password--form>input{
    width: 40rem;
    padding: 10px 0px;
    margin: 5px 0px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
}
.password--form>input:focus{
    outline: none;
}
@media only screen and (max-width: 459px ){
    #padlockImg{
        height: 9rem;
        width: 6.8rem
    }
    .password--form>input{
        width: 30rem;
        padding: 10px 0px;
        border: none;
        border-bottom: 1px solid #C4C4C4;
    }
}
@media only screen and (max-width: 359px ){
    #padlockImg{
        height: 6rem;
        width: 4.5rem
    }
    .password--form>input{
        width: 20rem;
        padding: 10px 0px;
        border: none;
        border-bottom: 1px solid #C4C4C4;
    }
}