.verifyscreen{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #1A1919 15.43%, rgba(55, 55, 55, 0) 100%), #3F3F3F;
    mix-blend-mode: multiply;
}
    .verifyscreen--header{
        width: 100%;
        padding: 2rem;
        display: flex;

    }
    .verifyscreen--header>img{
        width: 13.5rem;
        height: 3.6rem
    }
    .verifyscreen--body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        max-width: 600px;
        height: 70vh; 
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
        border-radius: 10px;
    }
    .verifyscreen--body>p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 2.3rem;
        text-align: center;
        letter-spacing: -0.165px;
        color: #000000;

    }
    .verifyscreen--body>img{
        width: 24.3rem;
        height: 14.7rem;
    }
    .verify--firstP{
        margin-top: 25px;
    }
    .verify--lastP{
        margin-bottom: 15px;
    }
   @media only screen and (max-width: 600px){
        .verifyscreen--body{
            margin: 0px 30px;
        }
   }